body{
    background-color: var(--yellow);
    font-family: figtree;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120vh;
}

.card-main{
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 4%;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

.card-section_main{
    padding: 3%;
    width: 360px;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.card-seccion__image{
    width: auto;
    height: auto;
    border-radius: 4%;
}

.card-seccion__topic{
    background-color: var(--yellow);
    width: 25%;
    border-radius: 6px;
    text-align: center;
    margin: 2% 0 1%;
}

.card-seccion__topic-text{
    padding: 9%;
    font-weight: 800;
}

.card-seccion__date-text{
    font-weight: var(--font-weight-XL);
    margin-bottom: 2%;
}

.card-seccion__title-text{
    margin-bottom: 3%;
}

.card-seccion__title-text:hover{
    color: var(--yellow);
    cursor: pointer;
    transition: all 0.2s;
}

.card-section__text-information{
    opacity: 50%;
    margin-bottom: 2%;
}

.card-section__person{
    display: flex;
    align-items: center;
}

.card-section__person--name{
    margin-left: 3%;
    font-weight: 800;
}

.attribution{
    display: flex;
    justify-content: center;
}